button{
    height:45px;
    width:calc(100% - 42px);
    border-radius: 7px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(122, 124, 245);
    border: none;
    color: white;
    cursor: pointer;
}
