.todo-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: start;
  /* border: 1px solid black; */
  padding: 0;
  padding-top: 5px;
  padding-bottom: 2px;
  gap: 15px;
  height: 300px;
  max-height: 300px;
  overflow-y: auto;
  flex-wrap: nowrap;
}
